.footer {
    position: absolute;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#333;
    color: white;
}

.footer_text {
    font-size: 12px;
    margin: 0;
}