.header {
  padding: 0px;
  position: relative;
  text-align: center;
  color: #333;
}

.header-image{
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  display: block;
}

