.header {
  padding: 0px;
  position: relative;
  text-align: center;
  color: #333;
  overflow-x: visible;
  margin: 0 auto;
  padding-top: 0;
}

.header-image{
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  display: block;
}

