<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Growing Grubs</title>
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/main-content.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/right-sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="homepage">
    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.jpeg" alt="header-image">
    </header>

    <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
         <div class="navbar_dropdown">
            <button class="dropdown">Recipes
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown_content">
               <a href="{{ url_for('recipes') }}">All Recipes</a>
               <a href="{{ url_for('recipes1') }}">6 - 9 Months</a>
                <a href="{{ url_for('recipes2') }}">9 - 12 Months</a>
                <a href="{{ url_for('recipes2') }}">1 - 4 Years</a>
            </div>
        </div>
        <div class="navbar_dropdown">
            <button class="dropdown">Feeding Tips
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown_content">
               <a href="{{ url_for('signs') }}">Signs that your baby is ready</a>
               <a href="{{ url_for('feeding_stages') }}">Feeding Stages</a>
            </div>
        </div>
        <a href="healthy_eating">Healthy Eating</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register_user') }}">Register</a>
        <p class="navbar-p">Grow with us, from weaning to well-rounded meals.</p>
        <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search recipes.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>

    <div class="container">
        <main class="container__main-content">
            <h1>Feeding Stages</h1>
            <p>The introduction of solids for your baby takes place in 3 stages. It starts with the first spoon feeds at about 6 months. By 12 months, your baby should be enjoying family meals.
<br>
                Solid food tastes and feels very different to milk. Your baby may spit out the food to begin with.
<br>
                This doesn't mean they don’t like it. They’re just getting used to the new tastes and textures, the experience of having a spoon in their mouth and learning to swallow.
<br>
                Don't force your baby
                Your baby may refuse a new food. If they do, do not force them.
<br>
                Offer another food that they are familiar with and wait 5 to 7 days before offering the refused food again.
<br>
                Babies and young children may need to be offered a food up to 15 times before they will accept it.
<br>
                Stage 1: at about 6 months
                Stage 2: between 6 to 9 months
                Stage 3: between 9 to 12 months
                Stage 1: at about 6 months
                <br>Foods to choose
                Good options for this stage are:
<br>
                vegetables made into purée, such as carrot, parsnip, turnip, broccoli, cauliflower, butternut squash and courgette
                fruit made into a purée, such as banana, apple, pear, peaches, apricots, plums, melon
                well-cooked meat, poultry and fish (remove all bones) made into a purée
                cereals such as baby rice
                Weaning your baby and introducing them to solid foods - HSE mychild.ie
                TranscriptTranscript
                Weaning your baby and introducing them to solid foods - HSE mychild.ie
                Play Video
                Watch another video on preparing solid foods for your baby - YouTube
<br>
                Textures<br>
                Start with thin purée which will increase in thickness as your baby gets used to solid food.
<br>
                How much to offer your baby<br>
                Be led by your baby. Some babies might take more than 1 teaspoon at their first spoon feed. Other babies might take a couple of days to get the hang of it.
<br>
                Start with 1 teaspoon of food made into a soft smooth purée.<br>
                Build up to 6 teaspoons at one time.<br>
                Next, introduce solid food at another mealtime.<br>
                Progress to 2 to 3 meals per day, with 5 to 10 teaspoons at each meal.<br>
                Introduce one new food at a time, every 2 to 3 days.<br>
                Skills your baby learns<br>
                Taking foods from a spoon.<br>
                Moving food from the front to the back of mouth for swallowing.<br>
                Managing increasingly thicker purées.<br>
                Suitable drinks<br>
                Suitable drinks are:<br>

                breast milk<br>
                infant formula<br>
                cooled (previously boiled) water<br>
                Stage 2: between 6 to 9 months<br>
                Foods to choose<br>
                Include the same food as in stage 1, but now include:<br>

                well-cooked eggs<br>
                porridge and breakfast cereals such as wheat biscuits or smooth oat-based cereal<br>
                bread, rice, and pasta<br>
                cheese (pasteurised)<br>
                yogurt<br>
                smooth peanut butter (sugar and salt free) - unless they have an allergy<br>
                meat, poultry, fish, peas, beans and lentils<br>
                Pasteurised cow’s milk can be used in small amounts to moisten foods.<br>

                Textures<br>
                You can introduce:<br>

                thicker purées (add less liquid to the purée)<br>
                mash food with a little liquid<br>
                soft, finger food<br>
                mixed textures - add a little mashed or grated food into your baby’s usual purées<br>
                How much to offer your baby<br>
                Be led by your baby, and feed to their appetite.<br>
<br>
                Use these portion sizes as a guide:<br>

                3 meals a day, each about 2 to 4 tablespoons of food.<br>
                2 to 3 snacks in between main meals.<br>
                Foods should be offered before milk feed.<br>
                Some drinks taken from a cup or beaker.<br>
                Skills your baby learns<br>
                Move from thick purées to mashed foods, to foods with soft lumps.<br>
                Chewing lumps.<br>
                Beginning to feed themselves with soft finger foods.<br>
                Drinking from a beaker or cup.<br>
                Suitable drinks<br>
                Suitable drinks are:<br>
<br>
                breast milk (on demand)<br>
                infant formula - 3 to 4 feeds a day (approx. 600mls or 21oz in total a day)<br>
                cooled (previously boiled) water<br>
                Stage 3: between 9 to 12 months<br>
                Foods to choose<br>
                Most family foods are now suitable without added gravies, sauces, salt or sugar.<br>

                Textures<br>
                You can introduce:<br>

                lumpy foods<br>
                chopped foods<br>
                harder finger foods<br>
                wide variety of foods and textures<br>
                How much to offer your baby<br>
                Be led by your baby, and feed to their appetite.<br>

                Use these portion sizes as a guide:<br>

                3 meals of about 4 to 6 tablespoons.<br>
                2 to 3 snacks.<br>
                Able to manage more than 2 textures in one meal.<br>
                All drinks (other than breastfeeds) taken from a cup or beaker.<br>
                Skills your baby learns<br>
                Lumpier textures will help with speech, chewing and increase the variety of your baby’s diet in later childhood.<br>
                Self-feeding.<br>
                Drinking from a cup.<br>
                Suitable drinks<br>
                Suitable drinks are:<br>

                breast milk (on demand)<br>
                infant formula (maximum 400mls or 14oz a day)<br>
                cooled (previously boiled) water</p>
            <br>
            <div class="container__main-content__top recipes">
                <h1>Today's Top Recipe</h1>
                <div class="main-content__top recipes">
                <img class="toprecipe_image" src="/static/images/recipes/butternut_chickpea_curry.jpeg" alt="recipe image">
                <h1>Butternut squash and Chickpea Curry</h1>
                </div>
            </div>
        </main>
        <aside class="container__right-sidebar">
            <h1>Today's Top Story</h1>
            <p>Weaning your baby - When is your baby ready?</p>
        </aside>
    </div>

    <footer class="footer">
       <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024</p>
    </footer>

</body>

</html>