<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Growing Grubs</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main-content.css">
    <link rel="stylesheet" type="text/css" href="/static/css/right-sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
</head>

<body class="homepage">
    <header class="header">
    Growing Grubs
        <a href="{{ url_for('register_user') }}">Register</a>
    </header>

    <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">Recipes</a>
        <a href="#">Feeding</a>
        <a href="#">Healthy Feeding</a>
    </nav>

    <div class="container">
        <main class="container__main-content">
            Main content
        </main>
        <aside class="container__right-sidebar">
            Right sidebar
        </aside>
    </div>

    <footer class="footer">
        Footer
    </footer>

</body>

</html>