<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meal.title }}</title>
</head>
<body>
    <h1>{{ meal.title }}</h1>
    <img src="{{ meal.image }}" alt="{{ meal.title }}">
    <h3>Ingredients</h3>
    <ul>
        {% for ingredient in meal.extendedIngredients %}
            <li>{{ ingredient.original }}</li>
        {% endfor %}
    </ul>
    <h3>Instructions</h3>
    <p>{{ meal.instructions }}</p>

    <a href="{{ url_for('recipes') }}">Back to Recipes</a>
</body>
</html>

