<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Growing Grubs</title>
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/main-content.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/right-sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="homepage">
    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.jpeg" alt="header-image">
    </header>

    <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
         <div class="navbar_dropdown">
            <button class="dropdown">Recipes
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown_content">
               <a href="{{ url_for('recipes') }}">All Recipes</a>
               <a href="{{ url_for('recipes1') }}">6 - 9 Months</a>
                <a href="{{ url_for('recipes2') }}">9 - 12 Months</a>
                <a href="{{ url_for('recipes2') }}">1 - 4 Years</a>
            </div>
        </div>
        <div class="navbar_dropdown">
            <button class="dropdown">Feeding Tips
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown_content">
               <a href="{{ url_for('signs') }}">Signs that your baby is ready</a>
               <a href="{{ url_for('feeding_stages') }}">Feeding Stages</a>
            </div>
        </div>
        <a href="{{ url_for('healthy_eating') }}">Healthy Eating</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register_user') }}">Register</a>
        <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search recipes.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>

<main>
        <div class="profile-container">
            <div class="profile-header">
                <img class="profile-image" src="static/images/profile_image.jpg" alt="Profile Image">
                <h1>Welcome, <span class="username">{{ user.username }}</span>!</h1>
            </div>
            <div class="registered-details">
                <h2>Registered Details</h2>
                <ul>
                    <li>First Name: <span class="first-name">{{ user.first_name }}</span></li>
                    <li>Last Name: <span class="last-name">{{ user.last_name }}</span></li>
                    <li>Email: <span class="email">{{ user.email }}</span></li>
                </ul>
            </div>
            <div class="favourites">
                <h2>Favourite Recipes</h2>
                <ul>
                    <li>Recipe 1</li>
                    <li>Recipe 2</li>
                    <li>Recipe 3</li>
                    <!-- Add more recipes as needed -->
                </ul>
            </div>
        </div>
    </main>

    <footer class="footer">
       <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024</p>
    </footer>

</body>
</html>