<!DOCTYPE html>
<html lang="en">

<head>
<title>Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/main-content.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/right-sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="recipes_page">

    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.jpeg" alt="header-image">
    </header>

   <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
         <div class="navbar_dropdown">
            <button class="dropdown">Recipes
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown_content">
               <a href="{{ url_for('recipes') }}">All Recipes</a>
               <a href="{{ url_for('recipes1') }}">6 - 9 Months</a>
                <a href="{{ url_for('recipes2') }}">9 - 12 Months</a>
                <a href="{{ url_for('recipes2') }}">1 - 4 Years</a>
            </div>
        </div>
        <div class="navbar_dropdown">
            <button class="dropdown">Feeding Tips
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown_content">
               <a href="{{ url_for('signs') }}">Signs that your baby is ready</a>
               <a href="{{ url_for('feeding_stages') }}">Feeding Stages</a>
            </div>
        </div>
        <a href="{{ url_for('healthy_eating') }}">Healthy Eating</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register_user') }}">Register</a>
        <p class="navbar-p">Grow with us, from weaning to well-rounded meals.</p>
        <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search recipes.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>

<!-- The flexible grid (content) -->
<div class="container">
        <main class="container__main-content">
            <h1>All Recipes</h1>
            <p>List of all recipes.</p>
            <br>
            <div class="container__main-content__top recipes">
                <h1>Today's Top Recipe</h1>
                <div class="main-content__top recipes">
                <img class="toprecipe_image" src="/static/images/recipes/butternut_chickpea_curry.jpeg" alt="recipe image">
                <h1>Butternut squash and Chickpea Curry</h1>
                </div>
            </div>
        </main>
        <aside class="container__right-sidebar">
            <h1>Today's Top Story</h1>
            <p>Weaning your baby - When is your baby ready?</p>
        </aside>
    </div>
<!-- Footer -->
    <footer class="footer">
       <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024</p>
    </footer>

</body>
</html>


