<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="/static/css/register_user.css">
</head>

<body>
<div class="container">
    <h2>Register</h2>
    <h3>Complete all fields</h3>
    <input type="text" id="firstName" placeholder="First Name">
    <input type="text" id="lastName" placeholder="Last Name">
    <input type="email" id="email" placeholder="Email Address">
    <input type="password" id="password" placeholder="Password">
    <input type="password" id="confirmPassword" placeholder="Confirm Password">
    <button onclick="login()">
        Submit
    </button>
    <div id="error" class="error">
    </div>
</div>

<script>
    function login() {
    const firstName = document.getElementById('firstName').value;
    const lastName = document.getElementById('lastName').value;
    const email = document.getElementById('email').value
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    //Code below displays error messages:
    const error = document.getElementById('error');
    if(firstName === '' || lastName === '' || email === '' || password === '' || confirmPassword === '') {
        error.textContent = 'All fields are required';
    } else if (!validateEmail(email)) {
        error.textContent = 'Invalid email address';
    } else if (password !== confirmPassword) {
        error.textContent = 'Passwords do not match';
    } else {
        // Code to handle successful login
        alert('Logged in successfully!');
    }
}

    function validateEmail(email) {
        const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return regex.test(email);
    }
</script>

</body>
</html>