openai
flask~=3.0.3
flask-login
flask-wtf
spoonacular
flask[async]
flask_sqlalchemy
sqlalchemy~=2.0.30
semantic-kernel==0.9.5b1
pyodbc
fastapi
WTForms~=3.1.2
passlib~=1.7.4
mdurl~=0.1.2
Werkzeug~=3.0.3
requests~=2.32.3