.feeding-stages {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 60px;
  align-items: flex-start;
}

.feeding-stages-page {
  display: flex;
  align-items: flex-start;
}

.feeding-stages-container {
  display: flex;
  flex: 1;
  margin: 20px;
  overflow-x: visible;
}

.feeding-stages-container__main-content {
  flex: 1;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container__left-sidebar {
  width: 250px; /* Fixed width for the sidebar */
  padding: 20px;
  margin-right: 20px; /* Space between sidebar and main content */
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 60px; /* Height of the navbar */
  height: calc(100vh - 80px); /* Full height minus navbar height and some extra space */
}

.toc {
  list-style-type: none;
  padding: 0;
}

.toc li {
  margin-bottom: 10px;
}

.toc a {
  color: #007bff;
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}

.feeding-stages-container__main-content h1,
.feeding-stages-container__main-content h2 {
  color: #333;
  margin-bottom: 10px;
}

.feeding-stages-container__main-content p,
.feeding-stages-container__main-content ul {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Top recipes section */
.container__main-content__top-recipes {
  margin-top: 20px;
}

.main-content__top-recipes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.main-content__top-recipes:hover {
  transform: translateY(-5px);
}

.toprecipe_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.toprecipe_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toprecipe_info h2 {
  margin: 0;
  color: #333;
}

.toprecipe_info a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.toprecipe_info a:hover {
  text-decoration: underline;
}

.back-to-top {
  font-size: 0.9em;
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

.back-to-top:hover {
  text-decoration: underline;
}

.feeding-footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feeding-footer_text {
  font-size: 12px;
  margin: 0;
}
