.healthy-eating{
    padding: 0px;
    margin: 0;
    width 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    align-items: flex-start;
}

.healthy_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.healthy_container__main-content {
    flex: 1;
    padding: 20px;
    margin-top: 20px;
    background-color: #ebf4ee;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}

.container__left-sidebar {
    width: 250px; /* Fixed width for the sidebar */
    padding: 20px;
    margin-right: 20px; /* Space between sidebar and main content */
    margin-top: 20px;
    background-color: #ebf4ee;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px; /* Height of the navbar */
    height: calc(100vh - 80px); /* Full height minus navbar height and some extra space */
}

.healthy_container__main-content h1, .healthy_container__main-content h2, .healthy_container__main-content h3 , healthy_container__main-content h4 {
    color: #333;
    margin-bottom: 10px;
}

.healthy_container__main-content p, .healthy_container__main-content ul, .healthy_container__main-content ol {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.toc {
    list-style-type: none;
    padding: 0;
    background-color: #ebf4ee;
}

.toc li {
    margin-bottom: 10px;
}

.toc a {
    color: #007bff;
    text-decoration: none;
}

.toc a:hover {
    text-decoration: underline;
}

.portion-sizes-section {
    margin-bottom: 20px;
}

/* Styling for the portion sizes list */
#portion-sizes-container {
    margin-top: 20px;
}

#portion-sizes-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#portion-sizes-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* Button styling */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Load more button styling */
#load-more {
    display: block;
    margin-top: 20px;
}

/* Styling for the age group form */
#age-group-form {
    margin-bottom: 20px;
}

#age-group-form label {
    font-weight: bold;
}

#age_group {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#age-group-form button {
    background-color: #28a745;
    border-color: #28a745;
}

#age-group-form button:hover {
    background-color: #218838;
}

/* Back to Top link styling */
.back-to-top {
    font-size: 0.4em;
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
}

.back-to-top:hover {
    text-decoration: underline;
}

/* Image styling */
.clickable-image {
    cursor: pointer;
    max-width: 100%;
    width: 700px; /* Initial size */
    transition: transform 0.3s ease;
}

/* Modal container */
.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content (the enlarged image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    animation: zoomIn 0.3s ease;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Animation to enlarge the image */
@keyframes zoomIn {
    from { transform: scale(0.7); }
    to { transform: scale(1.5); }
}
