body, html {
    font-family: Arial, sans-serif;
    background-image: url("/static/images/login/gg_background_1.png");
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: black;
}

.container {
    width: 400px;
    padding: 20px;
    background: #FFE5B4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 15px;
    text-transform: capitalize;
}

.form-button {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background-color: #01452c;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize; /* Capitalizes text */
}

.form-button:hover {
    background-color: #04AA6D;
}

.error {
    color: red;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #01452c;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
