body, html {
    font-family: Arial, sans-serif;
    background-image: url("/static/images/login/gg_background_1.png");
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

h2, h3 {
    text-align: center;
    color: black;
}

.container {
    width: 400px;
    padding: 15px;
    background: #FFE5B4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_form {
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc; /* Soft border color */
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 15px; /* Ensures consistent text size */
}

button, input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background-color: #01452c;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
}

button:hover, input[type="submit"]:hover {
    background-color: #04AA6D;
}

.error {
    color: red;
}

.profile-image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-image-container label {
    margin: 0 5px; /* Space between images */
}

dl {
    margin: 0;
}

/* Vertical space between fields */
dl > * {
    margin-bottom: 5px;
}

.login-link {
    text-align: center; /* Center the link */
    margin-top: 10px; /* Space above the link */
}

.login-link a {
    color: #01452c; /* Match link colour to button */
    text-decoration: none; /* Remove underline from link */
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline; /* Underline link on hover */
}