body, html {
    font-family: Arial, sans-serif;
    background-image: url("/static/images/login/gg_background_1.png");
    background-color: #FDF9F1;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}


a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}