<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Feeding Stages</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/feeding-stages.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Smooth scrolling for all anchor links
        $(document).ready(function(){
            $('a[href^="#"]').on('click', function(event) {
                var target = $(this.getAttribute('href'));
                if (target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top
                    }, 1000);
                }
            });
        });
    </script>
</head>

<body class="feeding-stages">
    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.png" alt="header-image">
    </header>

    <nav class="navbar">
    <a href="{{ url_for('other_routes.index') }}">Home</a>
    <div class="navbar_dropdown">
        <button class="dropdown">Recipes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown_content">
            <a href="{{ url_for('other_routes.recipes') }}">All Recipes</a>
            <a href="{{ url_for('other_routes.recipes1') }}">6 - 9 Months</a>
            <a href="{{ url_for('other_routes.recipes2') }}">9 - 12 Months</a>
            <a href="{{ url_for('other_routes.recipes3') }}">1 - 4 Years</a>
        </div>
    </div>
    <div class="navbar_dropdown">
        <button class="dropdown">Feeding Tips
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown_content">
            <a href="{{ url_for('other_routes.signs') }}">Signs that your baby is ready</a>
            <a href="{{ url_for('other_routes.feeding_stages') }}">Feeding Stages</a>
        </div>
    </div>
    <a href="{{ url_for('other_routes.healthy_eating') }}">Healthy Eating</a>
    {% if current_user.is_authenticated %}
        <!-- If the user is logged in, show the Logout and My Profile button -->
      <a href="{{ url_for('other_routes.profile') }}" class="navbar-link">My Profile</a>
        <form method="POST" action="{{ url_for('other_routes.logout') }}">
            <button type="submit" class="navbar-logout">Logout</button>
        </form>
    {% else %}
        <!-- If the user is not logged in, show the Login and Register buttons -->
        <a href="{{ url_for('other_routes.login') }}">Login</a>
        <a href="{{ url_for('other_routes.register_user') }}">Register</a>
    {% endif %}
    <div class="search-container">
        <form action="{{ url_for('other_routes.search') }}" method="post">
            <input type="text" placeholder="Search recipes.." name="search" required>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
  </nav>

    <div id="top"></div> <!-- Invisible anchor for "Back to Top" links -->

    <div class="feeding-stages-page">

     <aside class="container__left-sidebar">
        <h2>Table of Contents</h2>
            <ul class="toc">
            <li><a href="#stage-1">Stage 1: About 6 Months</a></li>
            <li><a href="#stage-2">Stage 2: Between 6 and 9 Months</a></li>
            <li><a href="#stage-3">Stage 3: Between 9 and 12 Months</a></li>
            </ul>
    </aside>

     <main class="feeding-stages-container__main-content">

        <h2>Feeding Stages</h2>
        <section id="stage-1">
        <h2>Stage 1: About 6 Months <a href="#top" class="back-to-top">Back to Top</a></h2>

            <p>Foods to choose: Good options for this stage are:</p>
                <ul>
                <li>Vegetables made into purée, such as carrot, parsnip, turnip, broccoli, cauliflower, butternut squash, and courgette.</li>
                <li>Fruit made into a purée, such as banana, apple, pear, peaches, apricots, plums, melon.</li>
                <li>Well-cooked meat, poultry, and fish (remove all bones) made into a purée.</li>
                <li>Cereals such as baby rice.</li>
                </ul>
            <p>Textures: Start with thin purée which will increase in thickness as your baby gets used to solid food.</p>
            <p>How much to offer your baby: Be led by your baby. Some babies might take more than 1 teaspoon at their first spoon feed. Other babies might take a couple of days to get the hang of it. Start with 1 teaspoon of food made into a soft smooth purée. Build up to 6 teaspoons at one time. Next, introduce solid food at another mealtime. Progress to 2 to 3 meals per day, with 5 to 10 teaspoons at each meal. Introduce one new food at a time, every 2 to 3 days.</p>
            <p>Skills your baby learns:</p>
                <ul>
                <li>Taking foods from a spoon.</li>
                <li>Moving food from the front to the back of mouth for swallowing.</li>
                <li>Managing increasingly thicker purées.</li>
                </ul>
            <p>Suitable drinks:</p>
                <ul>
                <li>Breast milk</li>
                <li>Infant formula</li>
                <li>Cooled (previously boiled) water</li>
                </ul>
        </section>
        <section id="stage-2">
            <h2>Stage 2: Between 6 and 9 Months <a href="#top" class="back-to-top">Back to Top</a> </h2>

                <p>Foods to choose: Include the same food as in stage 1, but now include:</p>
                    <ul>
                    <li>Well-cooked eggs.</li>
                    <li>Porridge and breakfast cereals such as wheat biscuits or smooth oat-based cereal.</li>
                    <li>Bread, rice, and pasta.</li>
                    <li>Cheese (pasteurised).</li>
                    <li>Yogurt.</li>
                    <li>Smooth peanut butter (sugar and salt free) - unless they have an allergy.</li>
                    <li>Meat, poultry, fish, peas, beans, and lentils.</li>
                    </ul>
                <p>Textures: You can introduce:</p>
                    <ul>
                    <li>Thicker purées (add less liquid to the purée).</li>
                    <li>Mash food with a little liquid.</li>
                    <li>Soft, finger food.</li>
                    <li>Mixed textures - add a little mashed or grated food into your baby’s usual purées.</li>
                    </ul>
                <p>How much to offer your baby: Be led by your baby, and feed to their appetite. Use these portion sizes as a guide: 3 meals a day, each about 2 to 4 tablespoons of food. 2 to 3 snacks in between main meals. Foods should be offered before milk feed. Some drinks taken from a cup or beaker.</p>
                <p>Skills your baby learns:</p>
                    <ul>
                    <li>Move from thick purées to mashed foods, to foods with soft lumps.</li>
                    <li>Chewing lumps.</li>
                    <li>Beginning to feed themselves with soft finger foods.</li>
                    <li>Drinking from a beaker or cup.</li>
                    </ul>
                <p>Suitable drinks:</p>
                    <ul>
                    <li>Breast milk (on demand)</li>
                    <li>Infant formula - 3 to 4 feeds a day (approx. 600mls or 21oz in total a day)</li>
                    <li>Cooled (previously boiled) water</li>
                    </ul>
        </section>
        <section id="stage-3">
            <h2>Stage 3: Between 9 and 12 Months <a href="#top" class="back-to-top">Back to Top</a></h2>

                <p>Foods to choose: Most family foods are now suitable without added gravies, sauces, salt or sugar.</p>
                <p>Textures: You can introduce:</p>
                    <ul>
                    <li>Lumpy foods.</li>
                    <li>Chopped foods.</li>
                    <li>Harder finger foods.</li>
                    <li>Wide variety of foods and textures.</li>
                    </ul>
                <p>How much to offer your baby: Be led by your baby, and feed to their appetite. Use these portion sizes as a guide: 3 meals of about 4 to 6 tablespoons. 2 to 3 snacks. Able to manage more than 2 textures in one meal. All drinks (other than breastfeeds) taken from a cup or beaker.</p>
                <p>Skills your baby learns:</p>
                    <ul>
                    <li>Lumpier textures will help with speech, chewing and increase the variety of your baby’s diet in later childhood.</li>
                    <li>Self-feeding.</li>
                    <li>Drinking from a cup.</li>
                    </ul>
                <p>Suitable drinks:</p>
                    <ul>
                    <li>Breast milk (on demand)</li>
                    <li>Infant formula (maximum 400mls or 14oz a day)</li>
                    <li>Cooled (previously boiled) water</li>
                    </ul>
        </section>

     </main>

    <!-- Top Recipe Section -->
    <aside class="container__main-content__top-recipes">
        {% include '_top_recipe.html' %}
    </aside>

    </div>

    <footer class="footer">
       <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024</p>
    </footer>

</body>

</html>