<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Growing Grubs - Healthy Eating</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/right-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/healthyeating.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="healthy-eating">
    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.jpeg" alt="header-image">
    </header>

    <nav class="navbar">
    <a href="{{ url_for('other_routes.index') }}">Home</a>
    <div class="navbar_dropdown">
      <button class="dropdown">Recipes
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_content">
        <a href="{{ url_for('other_routes.recipes') }}">All Recipes</a>
        <a href="{{ url_for('other_routes.recipes1') }}">6 - 9 Months</a>
        <a href="{{ url_for('other_routes.recipes2') }}">9 - 12 Months</a>
        <a href="{{ url_for('other_routes.recipes2') }}">1 - 4 Years</a>
      </div>
    </div>
    <div class="navbar_dropdown">
      <button class="dropdown">Feeding Tips
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_content">
        <a href="{{ url_for('other_routes.signs') }}">Signs that your baby is ready</a>
        <a href="{{ url_for('other_routes.feeding_stages') }}">Feeding Stages</a>
      </div>
    </div>
    <a href="{{ url_for('other_routes.healthy_eating') }}">Healthy Eating</a>
    {% if current_user.is_authenticated %}
        <!-- If the user is logged in, show the Logout and My Profile button -->
      <a href="{{ url_for('other_routes.profile') }}" class="navbar-link">My Profile</a>
        <form method="POST" action="{{ url_for('other_routes.logout') }}">
            <button type="submit" class="navbar-logout">Logout</button>
        </form>
    {% else %}
        <!-- If the user is not logged in, show the Login and Register buttons -->
        <a href="{{ url_for('other_routes.login') }}">Login</a>
        <a href="{{ url_for('other_routes.register_user') }}">Register</a>
    {% endif %}
    <div class="search-container">
      <form action="{{ url_for('other_routes.search') }}" method="post">
        <input type="text" placeholder="Search recipes.." name="search" required>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </nav>

    <div class="healthy_container">
        <main class="healthy_container__main-content">
            <div class="healthy-eating-section">
                <h1>Healthy Eating Tips</h1>
            </div>
            <div class="portion-sizes-section">
                <h2>Portion Sizes by Age Group</h2>
                <form id="age-group-form" method="GET" action="{{ url_for('other_routes.proxy') }}">
                    <label for="age_group">Select Age Group:</label>
                    <select id="age_group" name="age_group">
                        <option value="baby" {% if age_group == 'baby' %}selected{% endif %}>Baby</option>
                        <option value="toddler" {% if age_group == 'toddler' %}selected{% endif %}>Toddler</option>
                        <option value="family" {% if age_group == 'family' %}selected{% endif %}>Family</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>

                <div id="portion-sizes-container">
                    <ul id="portion-sizes-list"></ul>
                    <button id="load-more" style="display: none;">Load More</button>
                </div>
            </div>
        </main>

        <aside class="container__right-sidebar">
            <h1>Today's Top Story</h1>
            <p>Weaning your baby - When is your baby ready?</p>
        </aside>
    </div>

    <footer class="footer">
        <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024</p>
    </footer>

    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup"></div>
    <div id="flash-messages" style="display:none;">
        {{ get_flashed_messages()|tojson|safe }}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('other_routes.static', filename='js/portions.js') }}"></script>
    <script>
    function showPopup(message) {
        const popup = document.getElementById('popup');
        const overlay = document.getElementById('overlay');
        popup.innerText = message;
        popup.classList.add('show');
        overlay.classList.add('show');

        setTimeout(() => {
        popup.classList.remove('show');
        overlay.classList.remove('show');
        }, 3000); // Auto-hide after 3 seconds
    }
    </script>

</body>
</html>
