<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Growing Grubs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main-content.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/right-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="homepage">
    <!-- Header -->
    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.png" alt="header-image">
    </header>

    <!-- Navbar -->
    <nav class="navbar">
        {% include 'navbar.html' %}
    </nav>

    <!-- Main Content -->
    <div class="container">
        <main class="container__main-content">
            <h1>About Us</h1>
            <p>Hey there, fellow food wranglers! If you’ve ever felt like mealtime is a never-ending circus, you’re in
                the right place. As a mom who’s tackled the wild ride of weaning, I totally get the whirlwind of advice
                and conflicting info out there. That’s why I’m super excited to introduce our web app, your ultimate
                sidekick in serving up nutritious, kid-friendly meals for little ones aged 6 months to 4 years.
                Our app is brimming with quick recipes, healthy eating tips, and feeding guidelines designed to make
                your life a little easier—whether you’re cooking solo or with your tiny sous-chefs. Don’t forget to
                <a href="{{ url_for('other_routes.register_user') }}">create an account</a> and save your favourite
                recipes; after all, even the best chefs need a hand in outsmarting a toddler’s ever-changing tastes!
                Let’s turn mealtime mayhem into a fun, healthy adventure. Join us and let the culinary escapades begin!</p>
            <br>
        <!-- Top Recipe Section -->
        <div class="container__main-content__top-recipes">
            {% include '_top_recipe.html' %}
        </div>
        </main>

         <!-- Sidebar with Top Stories -->
        <aside class="container__right-sidebar" id="sidebar">
            <h1>Today's Top Stories</h1>
            {% if articles %}
                {% for article in articles %}
                    <div>
                        <h2 id="topstory_title">{{ article.name }}</h2>
                        <p id="topstory_description">{{ article.description }}</p>
                        <a href="{{ article.url }}" id="topstory_url">Read more</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No stories available.</p>
            {% endif %}
        </aside>

    </div>

    <footer class="footer">
       <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024 -  <a href="templates/site_map.html"> Site Map</a></p>
    </footer>

    <!-- Flash messages, overlay, and popup -->
    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup"></div>
    <div id="flash-messages" style="display:none;">
        {{ get_flashed_messages()|tojson|safe }}
    </div>

</body>

</html>

