<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Growing Grubs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main-content.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/right-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="homepage">
    <!-- Header -->
    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.png" alt="header-image">
    </header>

    <!-- Navbar -->
    <nav class="navbar">
        {% include 'navbar.html' %}
    </nav>

    <!-- Flash Messages -->
    <div class="flash-messages">
        {% include 'flash-messages.html' %}
    </div>
    <div id="flash-overlay" class="flash-overlay show"></div>
    <div id="popup" class="popup"></div>

    <!-- Main Content -->
    <div class="container">
        <main class="container__main-content">
            <h1>About Us</h1>
            <p>Welcome to our corner of the internet, where mealtime can finally become a little less overwhelming.
                If you’ve ever found yourself navigating the maze of mealtime and weaning, you’re not alone.
                As a parent who’s been through the ups and downs of feeding little ones, I understand how confusing and
                tiring it can be.
            </p>
            <p>That’s why we’ve created this web app to be a calm and reliable companion in your kitchen. Our app
                offers straightforward recipes, practical healthy eating tips, and feeding guidelines to help simplify
                your routine. Whether you’re preparing meals on your own or involving your little ones in the process,
                we’re here to make things a bit easier.
            </p>
            <p>Consider <a href="{{ url_for('other_routes.register_user') }}">creating an account</a> to keep track
                of your favourite recipes. After all, even the most seasoned parents can use a little help
                with navigating their child’s evolving tastes. Let’s make mealtime a bit more manageable together.
                Join us and explore a more relaxed approach to feeding your family.
            </p>
        <!-- Top Recipe Section -->
        <div class="container__main-content__top-recipes">
            {% include '_top_recipe.html' %}
        </div>
        </main>

         <!-- Sidebar with Top Stories -->
        <aside class="container__right-sidebar" id="sidebar">
            {% include 'right-sidebar.html' %}
        </aside>

    </div>

    <footer class="footer">
       <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024 -  <a href="{{ url_for('other_routes.sitemap') }}"> Site Map</a></p>
    </footer>

</body>

</html>

