<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
         <h2>Log In</h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form class="container_form" method="POST" action="{{ url_for('other_routes.login') }}">
            {{ form.hidden_tag() }} <!-- CSRF token -->
            <div>
                <label for="username">Username</label>
                {{ form.username(class="form-input") }}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="password">Password</label>
                {{ form.password(class="form-input") }}
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="remember-me">
                {{ form.remember() }} <label for="remember-me">{{ form.remember.label }}</label>
            </div>
            <div>
                {{ form.submit(class="form-button") }}
            </div>
        </form>
        <p class="register-link">Not Registered? <a href="{{ url_for('other_routes.register_user') }}">Create an account</a>.</p> <!-- Registration link -->
    </div>
</body>
</html>
