<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
         <h2>Log In</h2>

    <!-- Flash Messages -->
        <div class="flash-messages">
            {% include 'flash-messages.html' %}
        </div>
        <div id="flash-overlay" class="flash-overlay show"></div>
        <div id="popup" class="popup"></div>

        <form class="container_form" method="POST" action="{{ url_for('other_routes.login') }}">
            {{ form.hidden_tag() }} <!-- CSRF token -->
            <div>
                <label for="username">Username</label>
                {{ form.username(id="username", class="form-input", autocomplete="username") }}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="password">Password</label>
                {{ form.password(id="password", class="form-input", autocomplete="current-password") }}
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="remember-me">
                {{ form.remember(id="remember") }} <label for="remember">{{ form.remember.label }}</label>
            </div>
            <div>
                {{ form.submit(class="form-button") }}
            </div>
        </form>
        <p class="register-link">Not Registered? <a href="{{ url_for('other_routes.register_user') }}">Create an account</a>.</p> <!-- Registration link -->
        <p class="register-link"> Or return <a href="{{ url_for('other_routes.index') }}">Home</a>.</p>
    </div>

    </div>

</body>
</html>
