<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meal.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/right-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename= 'css/meal_detail.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('other_routes.static', filename='images/favicon.png') }}">
</head>

<body class="meal_detail">
    <!-- Header -->
    <header class="header">
        <img class="header-image" src="{{ url_for('static', filename='images/growinggrubs_header_3.png') }}" alt="header-image">
    </header>

    <!-- Navbar -->
    <nav class="navbar">
        {% include 'navbar.html' %}
    </nav>

    <!-- Main content section -->
    <div class="container">
        <main class="container__main-content">
            <div class="recipe-hero">
                <!-- Recipe Image -->
                <img src="{{ meal.image_url }}" alt="{{ meal.title }}">

                <!-- Recipe Meta Data and Description -->
                <div class="recipe-hero-content">
                    <h1>{{ meal.title }}</h1>
                    <p>{{ meal.description }}</p>

                    <div class="recipe-meta">
                        <div>
                            <strong>Serves:</strong> {{ meal.serves }}
                        </div>
                        <div>
                            <strong>Prep Time:</strong> {{ meal.prep_time }} minutes
                        </div>
                        <div>
                            <strong>Cook Time:</strong> {{ meal.cook_time }} minutes
                        </div>
                        <div>
                            <strong>Suitable for:</strong> {{ meal.age_group }}
                        </div>
                        <div>
                            <strong>Dietary Info:</strong> {{ meal.dietary_info if meal.dietary_info else 'N/A' }}
                        </div>
                        <div>
                            <strong>Viewed:</strong> {{ meal.views }} times
                        </div>
                        <div>
                            <strong>Last Viewed:</strong> {{ meal.last_viewed.strftime('%Y-%m-%d') if meal.last_viewed else 'Never' }}
                        </div>
                    </div>

                </div>
            </div>

            <!-- Favourite Button -->
            <form action="{{ url_for('other_routes.favourite_recipe', recipe_id=meal.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="recipe_title" value="{{ meal.title }}">
                <input type="hidden" name="recipe_image" value="{{ meal.image_url }}">
                <button type="submit" class ='favourite-button'>
                    <i class="fa fa-heart"></i>
                    Add to Favourites
                </button>
            </form>

            <!-- Recipe Details Section -->
            <section class="recipe-details">
                <div class="details-container">
                    <div class="ingredients">
                        <h3>Ingredients</h3>
                        <ul>
                            {% for ingredient in meal.ingredients %}
                                <li>{{ ingredient.replace('[','').replace(']','').replace('+',' ').replace("'", "") }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="instructions">
                        <h3>Instructions</h3>
                        <ol>
                            {% for step in meal.method %}
                                <li class="instruction-step">{{ step.replace('[','').replace(']','').replace('+',' ').replace("'", "") }}</li>
                            {% endfor %}
                        </ol>
                    </div>


                </div>
            </section>
        </main>

        <aside class="container__right-sidebar" id="sidebar">
            <h1>Today's Top Stories</h1>
            {% if articles %}
                {% for article in articles %}
                    <div>
                        <h2 id="topstory_title">{{ article.name }}</h2>
                        <p id="topstory_description">{{ article.description }}</p>
                        <a href="{{ article.url }}" id="topstory_url">Read more</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No stories available.</p>
            {% endif %}
        </aside>
    </div>

    <footer class="footer">
        <p class="footer_text">&#169; Copyright Growing Grubs - Created 2024</p>
    </footer>

    <script>
        document.querySelector('.favourite-button').addEventListener('click', function(event) {
            {% if not current_user.is_authenticated %} // Check if the user is authenticated
            event.preventDefault();
            window.location.href = "{{ url_for('other_routes.login') }}"; // Redirect to the login page
            {% endif %}
        });
    </script>

</body>
</html>
