<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main-content.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/right-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/profile.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('other_routes.static', filename='images/favicon.png') }}">
</head>

<body class="profile-page">
    <!-- Header -->
    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.png" alt="header-image">
    </header>

    <!-- Navbar -->
    <nav class="navbar">
        {% include 'navbar.html' %}
    </nav>

    <!-- Flash Messages -->
    <div class="flash-messages">
        {% include 'flash-messages.html' %}
    </div>
<!--    <div id="flash-overlay" class="flash-overlay show"></div>-->
<!--    <div id="popup" class="popup"></div>-->

    <!-- Main content section -->
    <main>
        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='images/profiles/' + (user.profile_image if user.profile_image else 'default.jpg')) }}" alt="Profile Image">
                </div>
                <div class="profile-info">
                    <h1>{{ user.username }}</h1>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <p>{{ user.email }}</p>
                </div>
            </div>

            <div class="profile-actions">
                <form method="POST" action="{{ url_for('other_routes.logout') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit">Logout</button>
                    <button type="button" onclick="confirmDelete()">Delete Account</button>
                </form>
            </div>
        </div>

        <div class="tab-container">
            <button class="tablink" onclick="openTab(event, 'Edit_Profile')">Edit Profile</button>
            <button class="tablink" onclick="openTab(event, 'Recipes')">Favourite Recipes</button>
            <button class="tablink" onclick="window.location.href='{{ url_for('other_routes.meal_planner') }}'">Meal Planner</button>
            <button class="tablink" onclick="openTab(event, 'MyMealPlans')">My Meal Plans</button>
        </div>

            <div id="Edit_Profile" class="tabcontent" style="display:none;">
                <!-- Edit Profile Form -->
                <form class="edit-profile" id="edit-profile-form" method="POST" action="{{ url_for('other_routes.edit_profile') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{ user.email }}" required>
                    </div>
                    <div class="form-group">
                        <label>Profile Image</label>
                        <div class="profile-image-options">
                            {% for image in available_profile_images %}
                            <label class="profile-image-option">
                                <input type="radio" name="profile_image" value="{{ image }}" {% if user.profile_image == image %} checked {% endif %}>
                                <img src="{{ url_for('other_routes.static', filename='images/profiles/' + image) }}" alt="Profile Image" class="profile-thumbnail">
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="action-button">Save Changes</button>
                </form>
            </div>

            <div id="Recipes" class="tabcontent" style="display:none;">
                <!-- Favourite recipes section -->
                <h2>My Favourite Recipes</h2>
                <div class="favourite-recipes">
                    {% if user.favourites %}
                    {% for favourite in user.favourites %}
                    <div class="card" id="recipe-{{ favourite.recipe_id }}">
                        <a href="{{ url_for('other_routes.meal_detail', meal_id=favourite.recipe_id) }}">
                            <img src="{{ favourite.recipe_image }}" alt="{{ favourite.recipe_title }}">
                            <h3>{{ favourite.recipe_title }}</h3>
                        </a>
                        <button type="button" class="action-button" onclick="removeFromFavourites({{ favourite.recipe_id }})">Remove from Favourites</button>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No favourites found. Go check out some recipes to add to your favourites.</p>
                    {% endif %}
                </div>
            </div>

            <div id="MyMealPlans" class="tabcontent" style="display:none;">
                <h2>My Meal Plans</h2>
                <div class="meal-plans">
                    {% for meal_plan in meal_plans %}
                        <div class="meal-plan">
                            <button onclick="toggleMealPlanDetails({{ meal_plan.id }})" class="action-button">{{ meal_plan.name }}</button>

                            <!-- Meal plan details -->
                            <div id="details-{{ meal_plan.id }}" class="meal-plan-details" style="display:none;">
                                <h5>Details for {{ meal_plan.name }}</h5>
                                <form action="{{ url_for('other_routes.delete_meal_plan', meal_plan_id=meal_plan.id) }}" method="POST" style="display:inline;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" class="action-button" onclick="return confirm('Are you sure you want to delete this meal plan?');">Delete</button>
                                </form>
                                <table id="meal-plan-{{ meal_plan.id }}">
                                    <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>Breakfast</th>
                                            <th>Lunch</th>
                                            <th>Dinner</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for day in meal_plan_details[meal_plan.id].days %}
                                            <tr>
                                                <td>{{ day.day }}</td>
                                                <td>{{ day.breakfast if day.breakfast else 'N/A' }}</td>
                                                <td>{{ day.lunch if day.lunch else 'N/A' }}</td>
                                                <td>{{ day.dinner if day.dinner else 'N/A' }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
    </main>

    <footer class="footer">
        <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024</p>
    </footer>

    <div id="flash-overlay" class="flash-overlay show"></div>
    <div id="popup" class="popup"></div>

    <!-- Delete Confirmation Popup -->
    <div id="overlay" class="overlay"></div>

    <div id="delete-confirmation" class="delete-confirmation" style="display:none;">
        <p>Are you sure you want to delete your account? This action cannot be undone.</p>
        <form method="POST" action="{{ url_for('other_routes.delete_account') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit">Yes, Delete My Account</button>
            <button type="button" onclick="closeConfirmation()">Cancel</button>
        </form>
    </div>

    <script src="{{ url_for('other_routes.static', filename='js/unfavourite.js') }}"></script>
    <script src="{{ url_for('other_routes.static', filename='js/tab_function.js') }}"></script>
    <script src="{{ url_for('other_routes.static', filename='js/meal_plan_details.js') }}"></script>


    <script>
        function toggleEditForm() {
          var form = document.getElementById('edit-profile-form');
          form.style.display = form.style.display === 'none' ? 'block' : 'none';
        }

        function toggleEditForm() {
          var form = document.getElementById('edit-profile-form');
          form.style.display = form.style.display === 'none' ? 'block' : 'none';
        }

        // Confirmation popup for Delete Account
        function confirmDelete() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('delete-confirmation').style.display = 'block';
        }

        function closeConfirmation() {
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('delete-confirmation').style.display = 'none';
        }
</script>

</body>
</html>
