<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recipes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main-content.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/right-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename= 'css/recipes.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="{{ url_for('other_routes.static', filename='js/recipes1.js') }}"></script>
</head>

<body class="recipes_page">
    <header class="header">
        <img class="header-image" src="{{ url_for('static', filename='images/growinggrubs_header_3.jpeg') }}" alt="header-image">
    </header>

  <nav class="navbar">
    <a href="{{ url_for('other_routes.index') }}">Home</a>
    <div class="navbar_dropdown">
      <button class="dropdown">Recipes
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_content">
        <a href="{{ url_for('other_routes.recipes') }}">All Recipes</a>
        <a href="{{ url_for('other_routes.recipes1') }}">6 - 9 Months</a>
        <a href="{{ url_for('other_routes.recipes2') }}">9 - 12 Months</a>
        <a href="{{ url_for('other_routes.recipes2') }}">1 - 4 Years</a>
      </div>
    </div>
    <div class="navbar_dropdown">
      <button class="dropdown">Feeding Tips
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_content">
        <a href="{{ url_for('other_routes.signs') }}">Signs that your baby is ready</a>
        <a href="{{ url_for('other_routes.feeding_stages') }}">Feeding Stages</a>
      </div>
    </div>
    <a href="{{ url_for('other_routes.healthy_eating') }}">Healthy Eating</a>
    {% if current_user.is_authenticated %}
        <!-- If the user is logged in, show the Logout and My Profile button -->
      <a href="{{ url_for('other_routes.profile') }}" class="navbar-link">My Profile</a>
        <form method="POST" action="{{ url_for('other_routes.logout') }}">
            <button type="submit" class="navbar-logout">Logout</button>
        </form>
    {% else %}
        <!-- If the user is not logged in, show the Login and Register buttons -->
        <a href="{{ url_for('other_routes.login') }}">Login</a>
        <a href="{{ url_for('other_routes.register_user') }}">Register</a>
    {% endif %}
    <div class="search-container">
      <form action="{{ url_for('other_routes.search') }}" method="post">
        <input type="text" placeholder="Search recipes.." name="search" required>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </nav>

    <div class="recipes_container">
        <main class="recipes_container__main-content">

            {% if meals %}
                <div class="search-results">
                    <h2>Search Results for "{{ search_query }}"</h2>
                    <div class="search_recipes">
                        {% for meal in meals %}
                            <a class="recipe-card" href="{{ url_for('other_routes.meal_detail', meal_id=meal.id) }}">
                                <img src="{{ meal.image }}" alt="{{ meal.title }}">
                                <h2>{{ meal.title }}</h2>
                                <p>{{ "Vegetarian" if meal.vegetarian else ', '.join(meal.get('dishTypes', ["Unknown type"])) }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <h2>Recipes for 6 to 9-month old babies</h2>
            <p>Welcome to our Recipes Page, where you'll find a delightful selection of popular recipes
                carefully curated for your culinary inspiration. Explore and indulge in a variety of dishes, each
                designed to tantalize your taste buds.
                If you're looking for something specific, simply use the search bar above to find recipes by ingredient,
                making it easier than ever to whip up your next favorite meal!</p>

            <div class="recipes">
<!--                {% if popular_meals %}-->
<!--                    {% for meal in popular_meals %}-->
<!--                        <a class="recipe-card" href="{{ url_for('other_routes.meal_detail', meal_id=meal.id) }}">-->
<!--                            <img src="{{ meal.image }}" alt="{{ meal.title }}">-->
<!--                            <h2>{{ meal.title }}</h2>-->
<!--                            <p>{{ "Vegetarian" if meal.vegetarian else ', '.join(meal.get('dishTypes', ["Unknown type"])) }}</p>-->
<!--                        </a>-->
<!--                    {% endfor %}-->
<!--                {% else %}-->
<!--                    <p>No recipes available at the moment. Please check back later.</p>-->
<!--                {% endif %}-->
<!--            </div>-->
                <a class="recipe-card" href="/meal/1">
                    <img src="/static/images/default-recipe.jpg" alt="Carrot Puree">
                    <h2>Carrot Puree</h2>
                    <p>Vegetarian, Baby Food, Puree</p>
                </a>
                <a class="recipe-card" href="/meal/2">
                    <img src="/static/images/default-recipe.jpg" alt="Apple and Banana Mash">
                    <h2>Apple and Banana Mash</h2>
                    <p>Vegetarian, Baby Food, Fruit Mash</p>
                </a>
            </div>
        </main>

        <aside class="container__right-sidebar">
            <h1>Today's Top Story</h1>
            <p>Weaning your baby - When is your baby ready?</p>
        </aside>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p class="footer_text">&#169; Copyright Growing Grubs - Created 2024</p>
    </footer>

    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup"></div>
    <div id="flash-messages" style="display:none;">
        {{ get_flashed_messages()|tojson|safe }}
    </div>

</body>
</html>
