<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recipes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main-content.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/right-sidebar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename= 'css/recipes.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="recipes_page">
    <header class="header">
        <img class="header-image" src="{{ url_for('static', filename='images/growinggrubs_header_3.png') }}" alt="header-image">
    </header>

  <nav class="navbar">
    <a href="{{ url_for('other_routes.index') }}">Home</a>
    <div class="navbar_dropdown">
      <button class="dropdown">Recipes
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_content">
        <a href="{{ url_for('other_routes.recipes') }}">All Recipes</a>
        <a href="{{ url_for('other_routes.recipes1') }}">6 - 9 Months</a>
        <a href="{{ url_for('other_routes.recipes2') }}">9 - 12 Months</a>
        <a href="{{ url_for('other_routes.recipes3') }}">1 - 4 Years</a>
      </div>
    </div>
    <div class="navbar_dropdown">
      <button class="dropdown">Feeding Tips
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown_content">
        <a href="{{ url_for('other_routes.signs') }}">Signs that your baby is ready</a>
        <a href="{{ url_for('other_routes.feeding_stages') }}">Feeding Stages</a>
      </div>
    </div>
    <a href="{{ url_for('other_routes.healthy_eating') }}">Healthy Eating</a>
    {% if current_user.is_authenticated %}
        <!-- If the user is logged in, show the Logout and My Profile button -->
      <a href="{{ url_for('other_routes.profile') }}" class="navbar-link">My Profile</a>
        <form method="POST" action="{{ url_for('other_routes.logout') }}">
            <button type="submit" class="navbar-logout">Logout</button>
        </form>
    {% else %}
        <!-- If the user is not logged in, show the Login and Register buttons -->
        <a href="{{ url_for('other_routes.login') }}">Login</a>
        <a href="{{ url_for('other_routes.register_user') }}">Register</a>
    {% endif %}
    <div class="search-container">
      <form action="{{ url_for('other_routes.search') }}" method="post">
        <input type="text" placeholder="Search recipes.." name="search" required>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </nav>

    <div class="recipes_container">
        <main class="recipes_container__main-content">

            <h2>Recipes for 9 to 12-month-old babies</h2>
            <p>Welcome to our Recipes Page for 9 to 12-month-old babies! Find a selection of age-appropriate recipes.</p>

            <div class="recipes">
                {% for recipe in recipes %}
                <a class="recipe-card" href="{{ url_for('other_routes.meal_detail', meal_id=recipe.id) }}">
                    <img src="{{ recipe.image_url if recipe.image_url else url_for('static', filename='images/comingsoon.jpg') }}" alt="{{ recipe.title }}">
                    <h2>{{ recipe.title }}</h2>
                    <p>{{ recipe.age_group or 'No suggested age available' }}</p>
                </a>
                {% endfor %}
            </div>

            <!-- Pagination controls -->
            <div class="center">
                <div class="pagination">
                    {% if prev_page %}
                        <a href="{{ url_for(request.endpoint, page=prev_page) }}">&laquo; Previous</a>
                    {% endif %}

                    {% for page_num in range(1, total_pages + 1) %}
                        <a href="{{ url_for(request.endpoint, page=page_num) }}"
                           class="{% if page_num == current_page %}active{% endif %}">
                            {{ page_num }}
                        </a>
                    {% endfor %}

                    {% if next_page %}
                        <a href="{{ url_for(request.endpoint, page=next_page) }}">Next &raquo;</a>
                    {% endif %}
                </div>
            </div>

        </main>

        <aside class="container__right-sidebar" id="sidebar">
            <h1>Today's Top Stories</h1>
            {% if articles %}
                {% for article in articles %}
                    <div>
                        <h2 id="topstory_title">{{ article.name }}</h2>
                        <p id="topstory_description">{{ article.description }}</p>
                        <a href="{{ article.url }}" id="topstory_url">Read more</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No stories available.</p>
            {% endif %}
        </aside>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p class="footer_text">&#169; Copyright Growing Grubs - Created 2024</p>
    </footer>

    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup"></div>
    <div id="flash-messages" style="display:none;">
        {{ get_flashed_messages()|tojson|safe }}
    </div>

</body>
</html>
