<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename= 'css/register_user.css') }}">
</head>

<body>
    <div class="container">
        {% from "_formhelpers.html" import render_field %}
        <form class="container_form" action="/register" method="POST">
            {{ form.csrf_token }}
            <div>
                    <div class="profile-image-container">
                        {% for image in form.profile_image.choices %}
                            <input type="radio" name="profile_image" value="{{ image[0] }}" id="{{ image[0] }}">
                            <label for="{{ image[0] }}">
                                <img src="{{ url_for('static', filename='images/profiles/' + image[0]) }}" alt="{{ image[1] }}" style="width: 50px; height: 50px;">
                            </label>
                        {% endfor %}
                    </div>
                {% for error in form.profile_image.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ render_field(form.username, placeholder='Username') }}
                {{ render_field(form.first_name, placeholder='First Name') }}
                {{ render_field(form.last_name, placeholder='Last Name') }}
                {{ render_field(form.email, placeholder='Email') }}
                {{ render_field(form.password, placeholder='Password') }}
                {{ render_field(form.confirm_password, placeholder='Confirm Password') }}
            </div>
            <p><input type="submit" value="Register"></p>
        </form>

        <!-- Link for users to navigate to the login page -->
        <div class="login-link">
            <p>Already a user? <a href="{{ url_for('other_routes.login') }}">Login here</a>.</p>
        </div>

    </div>

    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup"></div>
    <div id="flash-messages" style="display:none;">
        {{ get_flashed_messages()|tojson|safe }}
    </div>

</body>
</html>
