<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Growing Grubs - Signs that your baby is ready</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/homepage/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('other_routes.static', filename='css/signs.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    // Smooth scrolling for all anchor links
    $(document).ready(function(){
        $('a[href^="#"]').on('click', function(event) {
            var target = $(this.getAttribute('href'));
            if (target.length) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top
                }, 1000);
            }
        });
    });
    </script>

</head>

<body class="signs-page">
    <!-- Header -->
    <header class="header">
        <img class="header-image" src="static/images/growinggrubs_header_3.png" alt="header-image">
    </header>

    <!-- Navbar -->
    <nav class="navbar">
        {% include 'navbar.html' %}
    </nav>

    <div id="top"></div> <!-- Invisible anchor for "Back to Top" links -->

    <!-- Main content section -->
    <div class="signs-container">
        <aside class="container__left-sidebar">
              <h1>Table of Contents</h1>
              <ul class="toc">
                  <li><a href="#intro">Introduction</a></li>
                  <li><a href="#signs">Signs of Readiness</a></li>
                  <li><a href="#false-signs">False Signs</a></li>
                  <li><a href="#premature">Weaning a Premature Baby</a></li>
                  <li><a href="#weaningtips">Weaning Tips</a></li>
              </ul>
        </aside>

        <main class="signs-container__main-content">
            <h2>Signs that your baby is ready</h2>
            <section id="intro">
              <h1>Introduction <a href="#top" class="back-to-top">Back to Top</a> </h1>
              <p>Between 17 and 26 weeks (4 to 6 months), your baby may begin to show some signs they are ready to start eating solid food.</p>
              <p>Your baby should show more than one of these signs before you think about introducing solid foods. Especially if they are 17 weeks.</p>
            </section>
            <section id="signs">
                <h2>Signs of Readiness <a href="#top" class="back-to-top">Back to Top</a> </h2>
                <ul>
                  <li>They are able to sit up with support and can control their head movements.</li>
                  <li>Co-ordination - they can look at food, pick it up, and put it in their mouth by themselves.</li>
                  <li>They can swallow food instead of spitting it back out.</li>
                </ul>
                <p>These signs show that your baby is ready for you to introduce foods other than milk.</p>
            </section>
            <section id="false-signs">
                <h2>False Signs <a href="#top" class="back-to-top">Back to Top</a> </h2>
                <p>Some signs can be mistaken for a baby being ready for solid foods.</p>
                <ul>
                    <li>Chewing fists</li>
                    <li>Waking in the night when they have previously slept through</li>
                    <li>Wanting extra milk feeds now and then</li>
                </ul>
                <p>These are normal baby behaviors. They are not necessarily a sign of hunger or an interest in solid food.</p>
                <p>Starting solid foods will not make your baby any more likely to sleep through the night. Sometimes a little extra milk will help until they are ready for solid food.</p>
            </section>
            <section id="premature">
                <h2>Weaning a Premature Baby <a href="#top" class="back-to-top">Back to Top</a> </h2>
                <p>If your baby was born early (before 37 weeks), introduce solid foods when your baby shows signs that they are ready.</p>
                <p>Your baby may have developed all the skills they need to eat solid foods from a corrected age of about 5 to 6 months.</p>
                <p>Corrected age is your baby's age minus the number of weeks or months they were born early. For example, if your 7-month-old baby was born 2 months early, their corrected age is 5 months.</p>
            </section>
            <section id="weaningtips">
                <h2>Weaning Tips <a href="#top" class="back-to-top">Back to Top</a></h2>
                <p>Before you begin weaning, here are some tips that may help you introduce your baby to solids.</p>

                <h3>Timing</h3>
                <p>Choose the right time, ideally a time when:</p>
                <ul>
                    <li>You are not rushed or under pressure.</li>
                    <li>Your baby is not too hungry or tired.</li>
                    <li>You are not distracted by other people.</li>
                    <li>Turn off distractions like the TV, radio, and your phone.</li>
                </ul>

                <h3>Hygiene</h3>
                <p>Always wash your hands before you prepare food or feed your baby. Make sure your baby’s bowl and spoon are clean before you use them. Be prepared for a mess. Dribbling bibs and floor mats are useful.</p>

                <h3>Let Your Baby Hold the Food</h3>
                <p>Let your baby enjoy touching and holding food. If you’re using a spoon, wait for your baby to open their mouth before you offer the food. Your baby may like to hold a spoon too. Enjoy this special time as your baby begins to discover a whole new world of food.</p>

                <h3>Routine</h3>
                <p>Start introducing solid foods once a day. </p>
                    <ol>
                    <li>Begin with 1 teaspoon of food per meal and gradually increase the amount.</li>
                    <li>Introduce new foods one at a time and allow your baby to get used to the taste and texture. </li>
                    <li>Offer the solid food first and then follow with breast or formula milk. </li>
                    </ol>
                <p>Do not worry about quantities of food in the first 2 weeks. </p>
                <p>When your baby is taking about 6 teaspoons of food at one meal, introduce a second meal.</p>

                <h3>Safety</h3>
                <p>Do not ‘force feed’ or rush them while they are learning this new skill. Never leave your baby alone while eating, in case of choking.</p>

                <h3>Food Preparation</h3>
                <p>You can make up a batch of baby food and freeze it in individual portions. Tips for food preparation:</p>
                <ul>
                    <li>Do not re-use food that has not been eaten, as this might make your baby ill.</li>
                    <li>Cooked food should not be reheated more than once.</li>
                    <li>Do not add salt, sugar, or stock cubes to your baby’s food or cooking water.</li>
                </ul>

                <h3>Equipment for Weaning</h3>
                <p>You will need the following equipment:</p>
                <ul>
                    <li>A chair that your baby can sit in that supports their head and feet.</li>
                    <li>Blender, liquidiser, or a sieve.</li>
                    <li>Small bowl.</li>
                    <li>Feeding spoon with a long handle.</li>
                    <li>Cup or beaker with a free-flowing spout.</li>
                    <li>Steriliser for bowls and spoons.</li>
                </ul>
                <p>If you choose the baby-led weaning method, be sure to offer your baby a varied and balanced diet. This will give them enough energy to meet their needs for rapid growth.</p>
            </section>

        </main>

        <!-- Top Recipe Section -->
        <aside>
            {% include '_top_recipe.html' %}
        </aside>

    </div>

    <footer class="footer">
        <p class="footer_text">&#169 Copyright Growing Grubs - Created 2024</p>
    </footer>



</body>
</html>