/* responsive font size*/
html {
    font-size: calc(15px + 0.390625vw);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}

 /* Popup Styles */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    z-index: 1000; /* Make sure it appears above other content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup.show {
    display: block; /* Show when active */
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Just below popup */
}

.overlay.show {
    display: block; /* Show when active */
}

.close-btn {
    cursor: pointer;
    padding: 5px;
    color: red;
}