.header {
  padding: 0px;
  position: relative;
  text-align: center;
  color: white;
}

.header-image{
  background-size: cover;
  background-position: center;
  height: auto; /* Set the height of the header to the full viewport height */
  width: 100%; /* Set the width of the header to 100% of the viewport width */
}



