body, html {
    font-family: Arial, sans-serif;
    background-image: url("/static/images/login/gg_background_1.png");
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}


h2, h3 {
    text-align: center;
    color: black;
}

.container {
    position: absolute;
    top: 20%;
    left: 18%;
    width: 40%;
}

.container_form {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid black;
    border-radius: 5px;
    background: #f1f1f1;
}

button {
    width: 100%;
    padding: 16px 20px;
    background-color: #01452c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}

button:hover {
    background-color: #04AA6D;
}

.error {
    color: red;
}